html
    head
        title RestFullDemo
    body
        h3 This is RestFullDemo Index.jade!
        a(href="http://localhost:8888/user_list") doList!
        br
        a(href="http://localhost:8888/user_add") doAdd!
        br
        a(href="http://localhsot:8888/user_edit") doEdit!
        br
        a(href="http://localhsot:8888/user_remove") doRemove!

