html
    head
        title RestFullDemo
    body
        h3 This is RestFullDemo Index.jade!
        a(href="http://localhost:8888/user_list") doList!
        br
        a(href="http://localhost:8888/user_find2") doFind2!
        br
        a(href="http://localhost:8888/user_saveUI") doAdd!
        br
        a(href="http://localhsot:8888/user_remove2") doRemove!

