//
   Created by zhangly on 2017/5/31.

html
    head
        title RestfullDemo Save
    body
        form(action="http://localhost:8888/#{method}",method="POST")
            span uid:
                input(name="uid")
            br
            span name:
                input(name="name")
            br
            span age:
                input(name="age")
            br
            span
                input(type="submit")
